// Unsets everything so you can style everything from scratch
* {
    all: unset;
}

// Global Styles
.bar {
    font-family: 'FiraCode Nerd Font';
    background-color: #11111b;
    color: #cdd6f4;
    padding: 10px;
    border-radius: 10px;
}

.nixos_logo {
    padding: 5px;
    border-radius: 10px;
}

.workspaces {
    padding: 5px;
    font-size: 15px;

    &.current * {
        font-size: 15;
        color: #89b4fa;
    }

    &.occupied {
        font-size: 10;
        color: #b4befe;
    }

    &.empty {
        font-size: 10;
        color: #313244;
    }
}

.window_title {
    font-size: 12;
    font-weight: bold;
    color: #cdd6f4;
}

.datetime {
    font-size: 12;
    font-weight: bold;
    border-radius: 10px;
    color: #cdd6f4;
    padding: 5px;
}

.date {
    font-size: 12;
    font-weight: bold;
    border-radius: 5px;
    background-color: #313244;
    padding: 0px 5px 0px 5px;
}

.time {
    font-size: 12;
    font-weight: bold;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

.calendar {
    background-color: #11111b;
    font-size: 12;
    font-weight: bold;
    border-radius: 10px;
    color: #cdd6f4;
    padding: 5px;
}
