// Unsets everything so you can style everything from scratch
* {
    all: unset;
}

// Global Styles
.bar {
    font-family: 'FiraCode Nerd Font';
    background-color: #11111b;
    color: #cdd6f4;
    padding: 10px;
    border-radius: 10px;
}

.nixos_logo {
    padding: 5px;
    border-radius: 10px;
}

.workspaces {
    font-family: 'Noto Sans CJK JP';
    font-size: 15px;
    margin-bottom: 2px;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 5px;
}
